/* ---------- Basic ---------- */

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

body {
	background: whiteFFF;
}


/* ---------- Sidebar ---------- */

header {
   position: fixed !important;
   top:0;
   left:0;
   z-index: 700;
}

@media only screen and (min-width: 992px) {
   header {
      height: 100vh;
   }
}

.buttons {
   margin: 0;
   position: fixed;
   top:0;
   left:0;
   z-index: 900;
   padding-left: 20px;
   height: 50px;
   width: 100%;
}

@media only screen and (min-width: 992px) {
   .buttons {
      padding: 20px 0 0 20px;
      height: auto;
   }
}

@media only screen and (min-width: 1200px) {
   .buttons {
      padding: 20px 0 0 30px;
   }
}

.buttons>a {
   height: 50px;
   padding: 20px 0;
   width: 30px;
   text-align: center;
   display: inline-block;
   position: relative;
   z-index: 9999;
}

.buttons>a+a {
   margin-left: 10px;
}

.buttons>a>span {
   display: block;
   height: 2px;
   background: black;
   margin-bottom: 3px;
   transition: background 0.6s ease;
}

.buttons>a>svg {
   display: block;
   height: 15px;
   margin: -1px auto 0 auto;
   fill: black;
   transition: fill 0.6s ease;
}

.mobile-header-bg {
   width: 100%;
   position: fixed;
   background: white;
   z-index: 600;
   height: 50px;
}

header>.logo {
   background: black;
   color: white;
   text-transform: uppercase;
   font-family: "Calibre", sans-serif;
   letter-spacing: 0.18em;
   font-weight: 500;
   font-size: 15px;
   display: block;
   height: 50px;
   line-height: 55px;
   text-align: center;
   position: fixed;
   top: 50px;
   left: 0;
   width: 100%;
   z-index: 700;
}

@media only screen and (min-width: 992px) {
   header>.logo {
      position: relative;
      max-width: 300px;
      top: auto;
      margin: 16vh -7.5px 8vh -7.5px;
   }
}

.menu {
   padding: 0 20px;
}

header .menu {
   display: none;
}

@media only screen and (min-width: 992px) {
   header .menu {
      display: block;
   }
}

@media only screen and (min-width: 1200px) {
   .menu {
      padding: 0 30px;
   }
}

.menu h3 {
   color: #666666;
}

.menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 34px;
}

.menu ul li {
   padding: 8px 0;
}

.menu>ul>li a {
   position: relative;
}

.menu>ul>li>a:after {
   content:'';
   display: block;
   position: absolute;
   bottom: 7px;
   left: 0;
   height: 1px;
   border-bottom: 1px solid black;
   width: 0;
   transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu>ul>li>a:hover:after {
   width: 100%;
}

header .bottom {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 27.5px;
   width: 100%;
}

@media only screen and (min-width: 1200px) {
   header .bottom {
      padding: 37.5px;
   }
}

header .bottom .switch {
   display: block;
   position: relative;
   opacity: 0.5;
}

@media only screen and (min-width: 992px) {
   header .bottom .switch {
      max-width: 270px;
   }
}

header .bottom .switch span {
   font-size: 30px;
   color: #666;
}

header .bottom .switch img {
   height: 30px;
   transform: rotate(90deg);
   position: absolute;
   bottom: 0;
   right: 0;
}

header .bottom .social {
   margin-top: 40px;
}

header .bottom .social h3 {
   color: #666;
}

header .bottom .social ul {
   list-style: none;
}

header .bottom .social ul li {
   display: inline-block;
}

header .bottom .social a {
   display: block;
   transition: all 0.3s ease;
   margin-right: 20px;
}

header .bottom .social a:hover {
   transform: scale(1.2);
}

header .bottom .social a svg {
   height: 14px;
   margin: auto;
}

header .bottom .social a svg g {
   fill: black;
}

header .bottom .small-print {
   margin-top: 30px;
   color: #666;
}

header .bottom .small-print a {
   display: inline-block;
   margin-right: 15px;
}


/* ---------- Slide-out drawers ---------- */

.drawer {
   position: fixed;
   top:0;
   left:0;
   bottom:0;
   right:0;
   z-index: 800;
   visibility: hidden;
   transition: all 0s ease 1s;
}

.drawer:target {
   visibility: visible;
   transition: all 0s ease 0s;
}

.drawer>.main {
   height: 100vh;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
   background: white;
   transform: translateX(-100%);
   transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.drawer>.overlay {
   display: block;
   position: absolute;
   top:0;
   left:0;
   bottom:0;
   right:0;
   background: rgba(0,0,0,0.3);
   opacity: 0;
   transition: opacity 1s ease;
}

.drawer:target>.overlay {
   opacity: 1;
}

.drawer:target>.main {
   transform: translateX(0);
}

#menu>.main {
   padding-top: 6vh;
}

.drawer>.main>.menu {
   padding-top: 40px;
   padding-bottom: 40px;
}

/* ---------- Menu Drawer ---------- */

#menu .menu>ul {
   padding-bottom: 5vh;
}

#menu .menu>a {
   margin-right: 20px;
   color: #666;
}

.drawer>.main>.menu.dark {
   background: black;
   color: white;
   margin: 0 -7.5px;
}

.drawer>.main>.menu.dark:after {
   content: '';
   display: block;
   top: 100%;
   height: 15vw;
   left: 0;
   width: 100%;
   background: black;
}

.drawer>.main>.menu.dark>ul>li>a:after {
   border-bottom: 1px solid white;
}

/* ---------- Search Drawer ---------- */

#search>.main,
#designer>.main {
   padding: 60px 20px 0 20px;
}

@media only screen and (min-width: 992px) {
   #search>.main,
   #designer>.main {
     padding: 80px 30px 0 30px;
   }
}

@media only screen and (min-width: 1200px) {
   #search>.main,
   #designer>.main {
     padding: 80px 35px 0 35px;
   }
}

#search h3 {
   font-size: 1.6em;
}

#search form {
   width: 100%;
   margin-bottom: 35px;
}

#search form>input,
#search form>button {
   height: 40px;
   line-height: 40px;
   border: none;
   font-size: 0.7em;
   display: inline-block;
   outline: none;
   position: relative;
}

#search form>input {
   width: 70%;
   background: #E3DFDC;
   padding-left: 20px;
   letter-spacing: 0.1em;
}

#search form>button {
   width: 30%;
   color: white;
   background: black;
   top: 2px;
}

#search .main>ul {
   list-style: none;
   padding: 0;
}

#search .main>ul.tags>li {
   display: inline-block;
}

#search .main>ul.tags>li>a:after {
   content: ',';
}

#search .main>ul.tags>li>a {
   color: #666;
   font-size: 1.3em;
   line-height: 1.5em;
}

#search hr {
   border: none;
   border-bottom: 1px solid #ddd;
   margin-top: 60px;
}

#search ul.editions>li>a {
   display: block;
   height: 100px;
   background: black;
   color: white;
   margin-bottom: 10px;
}

#search ul.editions>li>a>div {
   display: block;
   float: left;
}

#search ul.editions>li>a>.image {
   width: 30%;
   height: 100px;
   background-size: cover;
   background-position: 50% 50%;
}

#search ul.editions>li>a>.text {
   display: inline-block;
   width: 70%;
   height: 100px;
   padding: 20px;
   font-size: 0.9em;
   position: relative;
}

#search ul.editions>li>a>.text>h4 {
   margin: 0;
   color: #666;
}

#search ul.editions>li>a>.text>p {
   margin-top: 5px;
   padding-right: 30px;
}

#search ul.editions>li>a>.text>img {
   position: absolute;
   right: 10%;
   top: 35%;
   transform: rotate(90deg);
   width: 20px;
   z-index: 0;
}

/* ---------- Find a designer drawer ---------- */

#designer>.main {
   background: #E3DFDC;
}

#designer>.main>h3 {
   font-size: 1.6em;
}

#designer>.main>form>select,
#designer>.main>form>input {
   display: block;
   width: 100%;
   height: 40px;
   -webkit-appearance: none;
   border-radius: 0; 
   margin-bottom: 10px;
   border: none;
   background: white;
   padding: 0 20px;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   font-size: 12px;
   font-weight: normal;
   font-family: "Calibre", sans-serif;
   font-weight: 500;
}

#designer>.main>form>select {
   background: url('../img/arrow2.svg') 95% 50% no-repeat white;
   background-size: 20px 10px;
}

#designer>.main>form>textarea {
   border: none;
   width: 100%;
   margin-bottom: 10px;
   display: block;
   -webkit-appearance: none;
   background: white;
   padding: 20px;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   font-size: 12px;
   font-weight: normal;
   font-family: "Calibre", sans-serif;
   font-weight: 500;
}

#designer>.main>form>button {
   border: none;
   width: 100%;
   margin-bottom: 10px;
   display: block;
   -webkit-appearance: none;
   color: white;
   background: black;
   height: 40px;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   font-size: 12px;
   font-weight: normal;
   font-family: "Calibre", sans-serif;
   font-weight: 500;
}

/* ---------- Floating border ---------- */

.floating-border {
   position: fixed;
   top: 100px;
   left: 0px;
   right: 0;
   bottom: 0;
   border: 15px solid white;
   pointer-events: none;
   z-index: 700;
}

@media only screen and (min-width: 992px) {
   .floating-border {
      top: 0;
      left: -20px;
      border-width: 40px;
   }
}


/* ---------- Content ---------- */

main {
   margin-top: 75px;
}

@media only screen and (min-width: 992px) {
   main {
      margin-top: 0;
      padding: 0px 32.5px 0px 0px !important;
   }
}

@media only screen and (min-width: 1200px) {
   main {
      padding: 40px 40px 0px 0px !important;
   }
}

main>.slideshow {
   padding: 40px 7.5px 15px 7.5px;
   height: 100%;
}

@media only screen and (min-width: 1200px) {
   main>.slideshow {
      position:fixed;
      z-index: -1;
      top: 0;
      left:0 ;
      padding: 40px 30px 40px 7.5px;
   }
}

main>.slideshow>div {
   background: red;
   height: 100%;
}

main>div>.tile {
   margin-bottom: 15px;
   display: block;
}

@media only screen and (min-width: 1200px) {
   main>div>.tile {
      margin-bottom: 40px;
   }
}

@media only screen and (min-width: 1200px) {
   main>div>.tile {
      margin-left: 7.5px;
      margin-right: -7.5px;
   }
}


/* ---------- Right scrolling area ---------- */

.feature {
   height: 500px;
   background-size: cover;
   background-position: 50% 50%;
   position: relative;
}

.feature>.caption {
   position: absolute;
   bottom: 30px;
   left: 30px;
   right: 30px;
   text-align: center;
   background: white;
   padding: 30px 20px;
}

.feature.dark>.caption {
   background: black;
   color: white;
}

.feature>.caption>h4 {
   margin: 0 0 20px 0;
   font-size: 1.3em;
   color: black;
}

.feature.dark>.caption>h4 {
   color: white;
}

.feature>.caption>p {
   margin: 0;
   color: #666;
}

.newsletter {
   background: #E3DFDC;
   text-align: center;
   padding: 40px;
}

.newsletter>h4 {
   font-size: 1.2em;
   margin-top: 0;
   color: black;
}

.newsletter>p {
   font-family: 'Calibre';
   font-weight: normal;
   color: #666;
}

.newsletter>form {
   position: relative;
   width: 100%;
   margin-bottom: 0;
}

.newsletter>form>input {
   display: inline-block;
   width: 85%;
   height: 40px;
   line-height: 40px;
   border: none;
   padding: 0 60px 0 20px;
   margin: 0;
}

.newsletter>form>button {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   width: 15%;
   margin-left: -5px;
   padding: 0;
   position: relative;
   top: 4px;
   border: none;
   -webkit-appearance: none;
   border-radius: 0;
   background: url('../img/arrow3.svg') 55% 50% no-repeat black;
   background-size: auto 60%;
}

.promo {
   padding: 100px 40px;
   background-size: cover;
   background-position: 50% 50%;
   color: white;
   text-align: center;
}

.promo>h4 {
   font-size: 1.8em;
   margin: 0 0 10px 0;
}

.promo>p {
   color: #999;
}


/* ---------- Share ---------- */

#share {
   position: fixed;
   top: 50%;
   right: 0;
   width: 100%;
   max-width: 480px;
   z-index: 800;
   transform: translateY(-50%) translateX(100%);
   transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
   padding: 40px 70px 40px 40px;
   background: black;
   color: white;
}

#share:target {
   transform: translateY(-50%) translateX(0); 
}

.share,
#share>a {
   position: fixed;
   top: 50%;
   right: 0;
   transform: rotate(-90deg) translateX(21%);
   width: auto;
   padding: 15px 40px;
   margin-right: -40px;
}

.share {
   background: white;
   color: black;
   z-index: 700;
}

#share>a {
   color: white;
}

#share>h3 {
   margin: 0 0 20px 0;
}

#share>.url {
   padding: 10px;
   background: white;
   color: black;
   display: block;
   font-size: 0.8em;
   color: #666;
   overflow: auto;
}

#share>ul {
   margin: 30px 0 0 0;
   list-style: none;
   padding: 0;
}

#share>ul>li {
   display: inline-block;
   margin-right: 20px;
   height: 16px;
}

#share>ul>li:last-of-type {
   height: 13px;
}

#share>ul>li>a>img {
   filter: brightness(250%);
}



/* ---------- BLACK THEME - add any elements here that need to change colour ---------- */

body.black {
   background: black;
   color: white;
}

body.black .buttons>a>span {
   background: white;
}

body.black .buttons>a>svg {
   fill: white;
}

body.black header>.logo {
   background: white;
   color: black;
}

body.black .menu>ul>li>a:after {
   border-color: white;
}

body.black header .bottom .social a svg g {
   fill: white;
}

body.black .mobile-header-bg {
   background: black;
}

body.black header .bottom .switch {
   opacity: 1;
}

body.black .drawer h3 {
   color: black;
}

body.black .drawer>.main>.menu {
   color: black;
}

body.black .drawer>.main>.menu>ul>li>a:after {
   border-color: black;
}

body.black .drawer>.main>.dark {
   color: white;
}

body.black .drawer>.main>.dark>ul>li>a:after {
   border-color: white;
}

body.black .floating-border {
   border-color: black;
}

body.black .share {
   color: white;
   background: black;
}

/* ---------- Theme Transitions - add any elements here that are included in the theme above ---------- */

body,
header>.logo,
header .bottom .social a svg g,
.mobile-header-bg,
header .bottom .switch,
.drawer h3,
.floating-border,
.share {
   transition: color 1s ease, background-color 1s ease, border-color 1s ease, fill 1s ease;
}